#!/bin/bash
scorehost={{ scoreboard_scorehost }}

set -e
while [ 1 ]; do
  echo -n "$(date) copying html from "

  curl -s "https://domjudge/public?static=1" > index.html
  echo -n . # dot 1 after getting index.html from domjudge

  # this was fixed in domjudge
#  sed -i 's/id="teampicture"/id="teampicture" loading="lazy"/g' index.html
#  echo -n . # dot 2 after making teampictures lazy load

  sed -i 's#/images/banners/.*\.png#header.svg#' index.html
  echo -n . # dot 2 after fixing banner

  scp -q index.html scoreboard@$scorehost:
  echo -n . # dot 3 after upload scorboard

  ssh scoreboard@$scorehost "mv ~/index.html /var/www/html/{{ scoreboard_subdir }}index.html"
  echo done at `date`.
  sleep 30
done
