*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]

# LOGGING / DEBUGGING
-N accept-in-log
-A accept-in-log -j LOG --log-level 4 --log-prefix "accept-in-log:"
-A accept-in-log -j ACCEPT
-N accept-out-log
-A accept-out-log -j LOG --log-level 4 --log-prefix "accept-out-log:"
-A accept-out-log -j ACCEPT
-N drop-n-log
-A drop-n-log -j LOG -m limit --limit 5/m --limit-burst 7 --log-level 4 --log-prefix "DENIED:"
-A drop-n-log -j DROP

# NOISE RELATED THINGS WE DON'T WANT TO SEE IN LOGS
# router os crap
-A INPUT -p udp -m udp --dport 5678 -j REJECT
# drop multicast
-A INPUT -d 224.0.0.1 -j DROP
# balloon manager
-A INPUT -p udp -m udp -s 10.4.4.149 --dport 53 -j DROP
-A INPUT -p tcp -m tcp -s 10.4.4.149 --dport 53 -j DROP


# internal interface
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

# DNS outbound
-A OUTPUT -p tcp --dport 53 -j ACCEPT
-A OUTPUT -p udp --dport 53 -j ACCEPT

# open up server to server communication TODO: figure out what we want here
-A OUTPUT -d 10.3.3.207 -j ACCEPT
-A OUTPUT -d 10.3.3.208/29 -j ACCEPT
# Allow out to printsrv for printing - TODO: probably not needed since we have a out to all servers rule able?
#-A OUTPUT -p tcp --dport 631 -s 10.3.3.208 -j ACCEPT

# DNS inbound from 10.3 (servers) and 10.2(judges)
# 5353 is dnsmasq serving up our hosts file
-A INPUT -p udp --dport 5353 -s 10.3.3.0/24,10.2.2.0/24 -j ACCEPT
-A INPUT -p tcp --dport 5353 -s 10.3.3.0/24,10.2.2.0/24 -j ACCEPT

# winrm outbound
-A OUTPUT -p tcp --dport 5985 -j ACCEPT

############ script-server
# All of blue
-A INPUT -p tcp --dport 5000 -s 10.0.0.0/8 -j ACCEPT
# TODO: how do we want to handle these? they don't _need_ script-server, we could ansible them manually?
# green (for presclients), red (for coachviews)
#-A INPUT -p tcp --dport 5000 -s 172.29.1.0/24,172.24.2.0/24 -j ACCEPT
# coachview 2.0 server
-A INPUT -p tcp --dport 5000 -s 172.36.0.207/24 -j ACCEPT
# ignore people we do not want to provision
-A INPUT -p tcp --dport 5000 -j DROP
############ end script-server

# ntp inbound for clients
-A INPUT -p udp --dport 123 -j ACCEPT
# ntp outbound to sync with other ntp servers
-A OUTPUT -p udp --dport 123 -j ACCEPT

# ssh inbound from other servers (i.e. management machines)
-A INPUT -p tcp -m tcp --dport 22 -s 10.3.3.208/29 -j ACCEPT
# ssh in from (old, back when we had a rack) management hosts
#-A INPUT -p tcp -m tcp --dport 22 -s 10.5.5.0/24 -j ACCEPT
# ssh from mgmt machines
-A INPUT -p tcp --dport 22 -s 172.29.1.251 -j ACCEPT
-A INPUT -p tcp --dport 22 -s 172.29.1.252 -j ACCEPT

# ssh outbound to anyone
-A OUTPUT -p tcp -m tcp --dport 22 -j ACCEPT

# syslog in from servers
-A INPUT -p tcp --dport 514 -d 10.3.3.208/29 -j ACCEPT
-A INPUT -p udp --dport 514 -d 10.3.3.208/29 -j ACCEPT

# enable ICMP in both directions
-A OUTPUT -p icmp -j ACCEPT
-A INPUT -p icmp -j ACCEPT

####### ICMP
# Limit inbound pings to prevent flooding
-A INPUT -p icmp --icmp-type echo-request -m limit --limit 1/s -j ACCEPT
# Only allow essential error reporting (Destination Unreachable)
-A INPUT -p icmp --icmp-type destination-unreachable -j ACCEPT
# Allow outgoing pings but restrict types
-A OUTPUT -p icmp --icmp-type echo-request -j ACCEPT
####### end ICMP

{{ extra_iptables_rules | default([]) | join("\n") }}

# allow related outbound
-A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

{% if outbound_internet_allowed | default(false) %}
# Allow output to any external resources
-A OUTPUT -d 192.168.0.0/16 -j RETURN
-A OUTPUT -d 10.0.0.0/8 -j RETURN
-A OUTPUT -d 172.16.0.0/12 -j RETURN
-A OUTPUT -j ACCEPT
{% endif %}

# and input related
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

{% if green_network_ifc is defined -%}
# drop green network crap that we do not care about
-A INPUT -i {{ green_network_ifc }} -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -i {{ green_network_ifc }} -j DROP
{% endif -%}

# drop rest
-A OUTPUT -j drop-n-log
-A INPUT -j drop-n-log

COMMIT
