# Hosts file for Ansible. Copy this file to `hosts.yml` and change its contents
contestants:
  hosts:
    team1:
      ansible_host: 10.0.0.153
ldapserver:
  hosts:
    ldap-server:
      ansible_host: 10.0.0.203
