# turn on password auth for the presantation laptops
host 172.29.0.5*
 PasswordAuthentication yes
 UserKnownHostsFile /dev/null
host presclient*
 PasswordAuthentication yes
 UserKnownHostsFile /dev/null
Host *
 PasswordAuthentication no
 UserKnownHostsFile /dev/null
 StrictHostKeyChecking no
 IdentityFile /root/.ssh/contest.id_ed25519
