# Variables that will change between different contests.
# Copy this file to `dynamic.yml` and change the variables

# Password for the LDAP admin user
ldap_admin_password: supersecretpassword

# Password for the LDAP replicator user
ldap_replicator_password: secretpassword

# Organization to use for LDAP
ldap_organization: ICPC

# Domain name to use as base for LDAP in DNS format
ldap_domain: icpc.global

# tls cert file for LDAP
ldap_tls_cert_file: /etc/ssl/certs/ldap.pem

# tls key file for LDAP
ldap_tls_key_file: /etc/ssl/private/ldap.key

######## Windows Client Settings #########
# presentation client settings
presclient_version: 2.5.783
presclient_pass: cds_presentation_user_password

# balloonprinter settings
balloon_version: 2.5.783
balloon_pass: cds_ballon_user_password
