root@backup
# CDS (most important)
cds@cds
icpc@cds
# Servers/Admins
icpc@backup
icpc@packages
icpc@troy-mgmt
icpc@keith-mgmt
# DOMjudge machines
icpc@domjudge-1
icpc@domjudge-2
icpc@domjudge-ccsadmin1
icpc@domjudge-ccsadmin2
icpc@domjudge-ccsadmin3
icpc@domjudge-ccsadmin4
icpc@domjudge-ccsadmin5
# PC2 Machines
icpc@pc2
icpc@pc2backup
icpc@pc2-ccsadmin1
icpc@pc2-ccsadmin2
icpc@pc2-ccsadmin3
icpc@pc2-ccsadmin4

# TODO: can we use inventory_hostnames or more jinja magic to make this more dynamic?
#

icpc@domjudge-judgehost1
icpc@domjudge-judgehost2
icpc@domjudge-judgehost3
icpc@domjudge-judgehost4
icpc@domjudge-judgehost5
icpc@domjudge-judgehost6
icpc@domjudge-judgehost7
icpc@domjudge-judgehost8
icpc@domjudge-judgehost9
icpc@domjudge-judgehost10
icpc@domjudge-judgehost11
icpc@domjudge-judgehost12

# green stuff
icpc@green-judgehost1
icpc@green-judgehost2
icpc@green-judgehost3
icpc@domjudge-analyst-green
