root@backup
# CDS (most important)
cds@cds
icpc@cds
# Servers/Admins
icpc@backup
icpc@packages
icpc@troy-mgmt
icpc@keith-mgmt
# DOMjudge machines
icpc@domjudge-1
icpc@domjudge-2
icpc@domjudge-ccsadmin1
icpc@domjudge-ccsadmin2
icpc@domjudge-ccsadmin3
icpc@domjudge-ccsadmin4
# PC2 Machines
icpc@pc2
icpc@pc2backup
icpc@pc2-ccsadmin1
icpc@pc2-ccsadmin2
icpc@pc2-ccsadmin3
icpc@pc2-ccsadmin4

# TODO: can we use inventory_hostnames or more jinja magic to make this more dynamic?
