[Unit]
Description=VLC Webcam streaming
After=network.target

[Service]
User=camera
Type=simple
CPUAffinity={{ vlc_webcam_cpu_affinity }}

ExecStart=/bin/bash -c "ffmpeg -hide_banner -f alsa -channels {{ vlc_webcam_channels }} -i {{ vlc_alsa_device }} -f v4l2 -video_size 1280x720 -framerate 30 -c:v mjpeg_qsv -input_format mjpeg -i /dev/{{ vlc_webcam_device }} -c:v libx264 -preset veryfast -g 30 -b:v 5M -force_key_frames 'expr:gte(t,n_forced*1)' -profile:v main -c:a aac -f mpegts - | cvlc --play-and-exit - --sout '#transcode{}:standard{access=http,mux=ts,dst=:8080,name=stream,mime=video/ts}'"

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
