[Unit]
Description=VLC Screen streaming
After=network.target multi-user.target

[Service]
User=camera
Type=simple
CPUAffinity={{ vlc_screen_cpu_affinity }}
ExecStart=/usr/local/bin/start-vlc-screen
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
