global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).
scrape_configs:

  - job_name: 'grafana'
    static_configs:
      - targets: ['localhost:443']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: node_grafana
    static_configs:
      - targets:
{%if "grafana" in groups %}{% for host in groups["grafana"] %}
        - {{ hostvars[host].ansible_host }}:9100
{% endfor %}{% endif %}

  - job_name: node_scoreboard
    static_configs:
      - targets:
{%if "scoreboard" in groups %}{% for host in groups["scoreboard"] %}
        - {{ hostvars[host].ansible_host }}:9100
{% endfor %}{% endif %}

  - job_name: node_cds
    static_configs:
      - targets:
{%if "cds" in groups %}{% for host in groups["cds"] %}
        - {{ hostvars[host].ansible_host }}:9100
{% endfor %}{% endif %}

  - job_name: node_teams
    static_configs:
      - targets:
{%if "contestants" in groups %}{% for host in groups["contestants"] %}
        - {{ hostvars[host].ansible_host }}:9100
{% endfor %}{% endif %}

  - job_name: 'web_nginx_cds'
    static_configs:
      - targets:
{%if "cds" in groups %}{% for host in groups["cds"] %}
        - {{ hostvars[host].ansible_host }}:9113
{% endfor %}{% endif %}

  - job_name: 'web_nginx_scoreboard'
    static_configs:
      - targets:
{%if "scoreboard" in groups %}{% for host in groups["scoreboard"] %}
        - {{ hostvars[host].ansible_host }}:9113
{% endfor %}{% endif %}
