global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).
scrape_configs:

# - job_name: 'grafana'
#   static_configs:
#     - targets: ['localhost:443']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cups'
    static_configs:
      - targets: ['printsrv:9329']
        labels:
          instance: printsrv

  - job_name: systems
    static_configs:
      - targets:
        - "localhost:9100"
        - "cds:9100"
        - "packages:9100"
        - "printsrv:9100"
{% if 'reverseproxy' in hostvars %}
        - "reverseproxy:9100"
{% endif %}
    relabel_configs: # remove the port from the instance label
      - source_labels: [__address__]
        regex: '(.+):(\d+)'
        target_label: instance
        replacement: '${1}'   # this is implicit default anyway

  - job_name: node_teams
    static_configs:
      - targets:
{%if "contestants" in groups %}{% for host in groups["contestants"] %}
        - "{{ host }}:9100"
{% endfor %}{% endif %}
    relabel_configs: # remove the port from the instance label
      - source_labels: [__address__]
        regex: '(.+):(\d+)'
        target_label: instance
        replacement: '${1}'   # this is implicit default anyway

  - job_name: windows
    static_configs:
      - targets: # windows node exporter from fluent-bit
{%if "windows" in groups %}{% for host in groups["windows"] %}
        - "{{ host }}:2021"
{% endfor %}{% endif %}
    relabel_configs: # remove the port from the instance label
      - source_labels: [__address__]
        regex: '(.+):(\d+)'
        target_label: instance
        replacement: '${1}'   # this is implicit default anyway


  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
{% for host in hostvars %}
        - {{ host }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115  # The blackbox exporter's real hostname:port.
