global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).
scrape_configs:

# - job_name: 'grafana'
#   static_configs:
#     - targets: ['localhost:443']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cups'
    static_configs:
      - targets: ['printsrv:9329']
        labels:
          instance: printsrv

  - job_name: systems
    static_configs:
      - targets:
        - localhost:9100
        labels:
          instance: backup
      - targets:
        - {{ hostvars['cds'].ansible_host }}:9100
        labels:
          instance: cds
      - targets:
        - {{ hostvars['packages'].ansible_host }}:9100
        labels:
          instance: packages
      - targets:
        - {{ hostvars['printsrv'].ansible_host }}:9100
        labels:
          instance: printsrv
{% if 'reverseproxy' in hostvars %}
      - targets:
        - {{ hostvars['reverseproxy'].ansible_host }}:9100
        labels:
          instance: reverseproxy
{% endif %}

  - job_name: node_teams
    static_configs:
{%if "contestants" in groups %}{% for host in groups["contestants"] %}
      - targets:
        - {{ hostvars[host].ansible_host }}:9100
        labels:
          instance: {{ host }}
{% endfor %}{% endif %}

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
{% for host in hostvars %}
        - {{ host }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115  # The blackbox exporter's real hostname:port.
