global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
#      - targets: [backup:9100]
#        labels:
#          group: 'Disks'
{% for host in groups["all"] %}
        - {{ hostvars[host].ansible_host }}:9100
{% endfor %}
