iface {{ ifc_list.stdout_lines[0] }} inet static
 address 10.3.3.{{ ip_subnet4.stdout_lines[0] }}
 netmask 255.255.255.0
{% if ifc_list.stdout_lines | length == 1 %}
 gateway 10.3.3.254
{% else -%}
 post-up ip route add 10.1.1.0/24 dev {{ ifc_list.stdout_lines[0] }} via 10.3.3.254
 post-up ip route add 10.2.2.0/24 dev {{ ifc_list.stdout_lines[0] }} via 10.3.3.254
 post-up ip route add 10.4.4.0/24 dev {{ ifc_list.stdout_lines[0] }} via 10.3.3.254
 post-up ip route add 10.5.5.0/24 dev {{ ifc_list.stdout_lines[0] }} via 10.3.3.254
{% endif -%}

