[Desktop Entry]
Name=Python3 Language Reference
Comment=The Python3 Language Reference
Exec=gnome-www-browser file:///usr/share/doc/python3.7/html/reference/index.html
Icon=/usr/share/doc/python3.8-doc/html/_static/py.png
Terminal=0
Type=Application
Categories=LangDocs;
